[Unit]
Description=Sync directory %i with unison

[Service]
ExecStart=bash -c 'unison -sshargs "-i $HOME/.ssh/xlab18" -auto -batch $HOME/%i ssh://x-lab18.local.boem/unison/%i'
Restart=no
