[Unit]
Description=Sync directory %i with unison

[Service]
ExecStart=unison -sshargs '-i /home/rein/.ssh/xlab18' -auto -batch /home/rein/%i ssh://x-lab18.local.boem/unison/%i
Restart=no
