[Unit]
Description=Sync directory %i with unison

[Service]
ExecStart=bash -c 'unison -sshargs "-i /home/rein/.ssh/xlab18" $HOME/%i ssh://xlab18.levitati.ng/unison/%i -auto -batch -times'
Restart=no
